<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="weekend_getaway" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>
  #Header {
      color: Tomato;
      font-size: 60px;
      text-align: center;
      }

  #tagline {
      font-size: 25px;
      text-align: center;
       }


.alert-info{
     background-color: white;
     width: 2000;
     height: 1400;
     }


   </style>
</head>
<body>

<div class="home">

<div class="alert alert-info" role="alert">
   <div class="alert-heading"></div>
<h1 id="Header">WEEKEND GETAWAY</h1>      
<p id="tagline">Dream. Explore. Discover</p>
</div>





<div class="main">
  <div class="alert alert-info" role="alert">
   <div class="alert-heading"></div>

<div class="btn-group btn-group-justified">
    <a href="home.html" class="btn btn-primary">Home</a>
    <a href="about.html" class="btn btn-danger">About</a>
    <a href="BMI.html" class="btn btn-success">Things to do</a>
    <a href="calorie.html" class="btn btn-info">Hotels</a>
    <a href="predict.html" class="btn btn-warning">Restaurants</a>
  </div>

</div>
</div>

<img src="img2.jpg" alt="not found" class="img-rounded" width="1550" height="450">
</div>

</div>
</body>
</html>



